#header {
    background-color: cornflowerblue;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    position: fixed;
}

#selector {
    background-color: bisque;
    position: fixed;
    top: 55px;
    left: 0px;
    width: 20%;
    bottom: 0px;
    float: left;
}

#content {
    background-color: aliceblue;
    position: fixed;
    left: 20%;
    right: 0px;
    top: 55px;
    bottom: 0px;
}

.image {
    margin: 5px;
    float: left;
}

#text {
    position: fixed;
    margin-left: 5px;
    top: 55px;
    bottom: 0px;
    resize: none;
    float: left;
}

#setting {
    background-color: grey;
    margin-left: 335px;
    top: 55px;
    bottom: 0px;
    width: 300px;
    position: fixed;
    float: left;
}